.Content {
  background-color: black;
  height: calc(100% - 56px);
}

.Game {
  height: 95vh;
  background: url(../../assets/images/table.png) no-repeat ;
  background-size: contain;
  background-position: center;
}