.PlayerCard {
  margin: 0;
  display: block;
  width: 24vw;
  position: relative;
  
  .User {
    width: 14vw;

    .UserInfo {
      display: flex;
      align-self: stretch;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &Inactive {
      opacity: 0.6;
    }
  }

  .FloatLeft {
    float: left;
  }

  .FloatRight{
    float: right;
  }
}