@import '../../../sass/variables';

.Container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 3vw;
  box-sizing: border-box;

  .ChatButton {
    position:absolute;
    right: 2vw;
    top: -7vh;
    width: 5vh;
    height: 5vh;
    border: unset;
    background: url(../../../assets/icons/chat_button.svg) no-repeat center;
    background-size: 90%;
  }

  .RoundActions {
    width: 100%;
    display: inline-block;
    align-self: flex-end;
    font-size: 2vh;

    .RaiseActions {
      display: flex;
      height: 6vh;
      border: $border;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      
      :not(:last-child) {
        border-right: $border;
      }
    }

    .Stepper {
      display: flex;
      height: 6vh;
      padding: 0 2vw;
      border: $border;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      border-bottom: none;
    }
 
    .FoldActions {
      height: 9vh;
      padding: 3vmin 0 0;
      display: flex;
    }
    .Button {
      &_Fold {
        border-radius: 16px;
        background-color: #ffffff;
        color: black;
        font-size: 3.8vmin;
      }

      &_Call{
        border-radius: 16px;
        background-color:#2657ff;
        font-size: 3.8vmin;
        margin: 0 2vw;
      }

      &_Raise {
        border-radius: 16px;
        background-color: #fc4c02;
        font-size: 3.8vmin;
      }
    }
  }
}
