.RoundActions {
  display: block;
  font-size: 2vh;

  .Actions {
    height: 6vh;

    &:last-child {
      height: 9vh;
    }
    padding: 3vmin 2vw 0;
    display: flex;
  }

  .Button {
    &_Fold {
      background-color: white;
      color: black;
      font-size: 3.8vmin;
      border-radius: 10px;
    }

    &_Call{
      background-color: #33adff;
      font-size: 3.8vmin;
      border-radius: 10px;
      margin: 0 2vw;
    }

    &_Raise {
      background-color: #ff5c33;
      font-size: 3.8vmin;
      border-radius: 10px;
    }

    &_Stepper_Level{
      &:last-child {
        border-top-right-radius: 10px;
      }
      &:first-child {
        border-top-left-radius: 10px;
      }
    }
  }
}
