.SvgFlop {
  justify-content: center;
  display: flex;
  
  text-align: center;
  
  &_Browser {
    max-width: 480px;
    min-width: 480px;
    min-height: 180px;
    max-height: 180px;
  }

  &_Mobile {
    max-width: 70vmin;
    min-width: 70vmin;
    max-height: 30vmin;
    min-height: 30vmin;
  }
 
}
