.Coin_xs {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: -webkit-image-set(
    url(../../../assets/images/coin_xs.png) 1x,
    url(../../../assets/images/coin_xs@2x.png) 2x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.Coin_sm {
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: -webkit-image-set(
    url(../../../assets/images/coin_sm.png) 1x,
    url(../../../assets/images/coin_sm@2x.png) 2x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.Coin_md {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: -webkit-image-set(
    url(../../../assets/images/coin_md.png) 1x,
    url(../../../assets/images/coin_md@2x.png) 2x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}


.Coin_lg {
  position: absolute;
  width: 75px;
  height: 75px;
  background-image: -webkit-image-set(
    url(../../../assets/images/coin_lg.png) 1x,
    url(../../../assets/images/coin_lg@2x.png) 2x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
