.Button {
  flex-grow: 1;
  width: 10%;
  background-color: rgba(255, 255, 255, .16);
  border-radius: 28px;
  border: unset;
  
  
  &_LabelWrap {
    display: inline;
    margin: 0 0.5vw;
  }
  
  @media (min-height: 640px) {
    &_LabelWrap {
      display: block ;
      color: white;
    }
  }
}