@import '../../../sass/variables';

.Container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 3vw;
  box-sizing: border-box;

  .ChatButton {
    position:absolute;
    right: 3vw;
    top: -4vh;
    width: 7vh;
    height: 7vh;
    border: unset;
    background: url(../../../assets/icons/chat_button.svg) no-repeat center;
    background-size: 90%;
  }

  .RoundActions {
    width: 100%;
    display: inline-block;
    align-self: flex-end;
    font-size: 2vh;

    

    .RaiseActions {
      display: flex;
      height: 6vh;
      border: $border;
      background-color: #FFF;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      
      :not(:last-child) {
        border-right: $border;
      }
    }

    .Stepper {
      display: flex;
      height: 6vh;
      padding: 0 2vw;
      border: $border;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      border-bottom: none;
      background-color: #FFF;
    }
 
    .FoldActions {
      height: 9vh;
      padding: 3vmin 0 0;
      display: flex;
    }

    .Button_Wrapper {
      position: relative;
      width: 33%;
      &_Middle {
        margin-left: 2vw;
      }
    }

    .Button {
      font-family: SFUIDisplay;
      font-size: 3.5vmin;
      letter-spacing: 0.4px;
      text-align: center;
      color: #FFF;
      
      &_Back {
        top: 3px;
        position: absolute;
        width: 100%;
        height: 100%;
        border: unset;
      }
      
      &_Fold {
    	  background-color: #F04E58;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        box-shadow: $box-shadow-full;
      }
      
      &_Fold_Back {
        background-color: #D22832;
        border-radius: 12px;
        box-shadow: $box-shadow-full;
      }

      &_Call {
        background-color: #4D9CFF;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
	position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: $box-shadow-light;
      }

      &_Call_Back {
        background-color: #318FF2;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        box-shadow: $box-shadow-light;
      }

      &_Raise {
        background-color: #FFA438;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: $box-shadow-light;
        
      }
      
      &_Raise_Back{
        background-color: #E2891F;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: $box-shadow-light;
      }
    }
  }
}
