@import '../../../sass/main.scss';

.Fold {
  display: block;
  font-size: 2vh;

  .Stepper {
    padding: 2vmin;
    display: flex;
    justify-content: space-between;
  }

  .Actions {
    height: 6vh;

    &:last-child {
      height: 9vh;
    }
    padding: 1vmin 15vw;
    display: flex;
  }

  .Button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3vmin;

    &:not(:last-child) {
      margin-right: 2vmin;
    }
    
    background-color: $fold-action-button-bck-color;
    border: 1px;
    color: white;
    border-radius: 10%;
    flex-grow: 1;
    width: 10%;

    &_LabelWrap {
      display: inline;
      margin: 0 0.5vw;
    }
    
    @media (min-height: 640px) {
      &_LabelWrap {
        display: block ;
        
      }
    }
  
    &_Fold {
      background-color: white;
      color: black;
      font-size: 3.8vmin;
    }

    &_Call{
      background-color: #33adff;
      font-size: 3.8vmin;
    }

    &_Raise {
      background-color: #ff5c33;
      font-size: 3.8vmin;
    }

    &_Stepper {
      border-radius: 50%;
      width: 5vh;
      height: 5vh;
      
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center;



      &_Plus {
        float: right;
        background-image: url(../../../assets/images/add.svg);
        
      }
      &_Minus {
        float: left;
        background-image: url(../../../assets/images/substract.svg);
      }
      
      flex-grow: unset;
      font-weight: normal;
    }
  }
}