@import '../../sass/main';

.Game {
  background-color: $main-background;

  .Chat {
    bottom: 2.1vh;
    &_iPhone {
      bottom: 3.5vh;
      &_Web {
        bottom: 1.3vh;

        /* Phone X  */
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
          bottom: 17vh;
        }
      }
    }
  }
  
  .Board {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    background: url(../../assets/images/table1.png) no-repeat center;
    background-size: cover;
    
    &_Mobile {
      min-width: 320px;
    }

    &_Browser {
      min-width: 600px;
    }
    
    display: grid;
    justify-content: center;
    
    &_IPhoneWeb {
      background-position-y: -60px;

      /* Phone X  */

      @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
        background-position-y: -100px;
        grid-template-rows:
        [footer-start] 9vh  
        [footer-end table-start] repeat(3,[row-start]  16vh [row-end]) 
        [table-end round-actions-start] 26vh
        [round-actions-end ] !important;
      }

      grid-template-rows:
        [footer-start] 9vh  
        [footer-end table-start] repeat(3,[row-start]  17vh [row-end]) 
        [table-end round-actions-start] 26vh
        [round-actions-end ] !important;
    }

    grid-template-rows: 
      [footer-start] 9vh  
      [footer-end table-start] repeat(3,[row-start]  21vh [row-end]) 
      [table-end round-actions-start] 26vh
      [round-actions-end ];
    
    grid-template-columns: 
      [col-start]1fr
      [col-end col-start] 35% 
      [col-end col-start]1fr
      [grid-end];
    
    grid-gap: 0px;
  }

  .Item {
    font-size: 1.5vh;
    font-family: sans-serif;
    color: #ddd;
    
    
    &__Player1 {
      position: relative;
      @include bottom-right;
    }

    &__Player2 {
      @include bottom-left;
    
    }
    
    &__Player3 {
      grid-area: row-start 3 / col-start 1 / row-end 3 / grid-end;
      @include center-center;
    }
    
    &__Rate {
      margin-top: 1vh;
      color: white;
      @include top-center;
    }
    
    &__Flop {
      grid-area: row-start 2 / col-start 1 / row-end 2 / grid-end;
      @include center-center;
    }
    
    &__RoundActions {
      position: relative;
      grid-area: round-actions-start / col-start 1 / round-actions-end / grid-end;
    }
    
    &__Footer {
      grid-area: footer-start / col-start 1 / footer-end/ grid-end;
    }
  }
}
