@import '../../../sass/variables';

.Footer {
  width: 100%;
  padding: 2vmin;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: $main-background;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}

.TableSelect__Item {
  width: 80%;
  display: flex;
}