.CoinsFall {
  top: 300px;
  left: 10px;
  position: absolute;
  width: 40vw;
  height: 1200px;
  animation: fall 2s;
  animation-timing-function: ease-out;
}

@keyframes fall {
  0% {
    top: -1200px;
  }
  100% {
    top: 300px;
  }
}