@import '../../../../sass/main.scss';

.Stepper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .Slider {
    width: 100%;
    position: relative;
  }
}

.Button {
  &_Stepper {
    border-radius: 50%;
    width: 6.75vh;
    height: 5vh;

    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent !important;

    &_Plus {
      float: right;
      background-image: url(../../../../assets/icons/add.svg);
      margin-left: 5vh;
      
    }
    &_Minus {
      float: left;
      background-image: url(../../../../assets/icons/substract.svg);
      margin-right: 5vh;
    }
  }
}