.Cloud {
  margin: 0;
  padding-top: 2.3vh;
  color: #000;
  text-align: center;
  width: 19vh;
  height: 9vh;
  box-sizing: border-box;
  background-image: 
    -webkit-image-set(
      url(../../../assets/images/chat-bubble.png) 1x,
      url(../../../assets/images/chat-bubble@2x.png) 2x);
      // url(../../../assets/images/chat-cloud@3x.png) 3x);
  background-position: center;
  background-size: cover;
  font-family: SFUIDisplay;
  font-size: 3.2vmin;
  font-weight: 600;
  letter-spacing: 0.4px;
  
  
}

.Cloud2 {
  width: 182px;
  height: 61px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08);
  background-color: #51cf75;
}