.CoinsFall_Container {
  top: -7vw;
  position: relative;
  width: 50vw; 
  height: 60vw;
  overflow: hidden;
}

.PrizePool {
  width: 25vw;
  height: 17vw;
  top: -75vw;
  left: 50%;
  transform: translateX(-50%);
  // width: 50vw;
  // height: 34vw;
  // top: -23vw;
  position: relative;
  background-image: -webkit-image-set(
    url(../../../assets/images/prizepool_rect.png) 1x,
    url(../../../assets/images/prizepool_rect@2x.png) 2x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 135%;
  animation: moveUp .5s ease-out 2s;
  animation-fill-mode: backwards;

  label {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

    text-transform: uppercase;
    font-family: Rockwell;
    
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffc800;
  }

  &_Prize {
    top: 3vw;
    font-size: 2.7vmin;
  }
  &_Money {
    top: 5.5vw;
    font-size: 4.5vmin;
  }
}

@keyframes moveUp {
  0% {
    top: -23vw;
    left: 25%;
    transform: scale(2);
  }
  70% {
    top: -75vw;
  }
  80% {
    top: -77vw;
  }
  100% {
    transform: scale(1) translateX(-50%);
  }
}