@font-face {
  font-family: 'SFUIDisplay';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/SF-UI-Display-Bold.otf'); /* IE9 Compat Modes */
  src: local('SFUIDisplay'),
       url('./assets/fonts/SF-UI-Display-Bold.otf');
}

body {
  margin: 0;
  padding: 0;
}

/* remove focus border from all components */
*:focus {outline:none !important}

/* @media all and (display-mode: standalone) {
  body {
    background-color: yellow;
  }
} */
