body {
  margin: 0;
  padding: 0;
}

/* remove focus border from all components */
*:focus {outline:none !important}

/* @media all and (display-mode: standalone) {
  body {
    background-color: yellow;
  }
} */
