@keyframes deal02 {
  0% {
    opacity: 0;
    transform: translateY(150px) scale(0.5);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(0.5); 
  }
}

@keyframes deal03 {
  0% {
    opacity: 0;
    transform: translateY(150px) scale(0.8);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(0.8);
  }
}

.SvgCard {
  &_Flop {
    animation-name: deal03;
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    transform: translateY(0px) scale(0.8); 
    &_Dashboard {
      animation-name: unset;
      transform: translateY(0px) scale(0.5); 
    }
    &_1 {
      animation-delay: .1;
    }
    &_2 {
      animation-delay: .2s;
    }
    &_3 {
      animation-delay: .3s;
    }
    &_4 {
      animation-delay: .4s;
    }
    &_5 {
      animation-delay: .5s;
    }
  }

  @media only screen and (max-width: 600px) and (orientation: portrait),
          only screen and (max-width: 900px) and (orientation: landscape){
    &_Flop {
      animation-name: deal02;
      transform: translateY(0px) scale(0.5); 

      &_Dashboard {
        animation-name: unset;
        transform: translateY(0px) scale(0.3); 
      }
    }
  }
}

