
.Flop {
  display: block;
  
  text-align: center;

  &_Label {
    font-size: 3.5vmin;
    letter-spacing: 0.3px;
    color: white;
    text-align: center;
  }

  &_Total {
    font-size: 3vmin;
    
    text-align: center;
  }
  &_Browser {
    max-width: 370px;
    min-width: 370px;
    min-height: 180px;
    max-height: 180px;
  }

  &_Mobile {
    max-width: 60vmin;
    min-width: 60vmin;
    max-height: 15vmin;
    min-height: 15vmin;
  }
  
  &_Dashboard {
    max-width: 50vmin;
    min-width: 50vmin;
    max-height: 30vmin;
    min-height: 30vmin;
  }
}
