

.Flop {
  justify-content: center;
  display: flex;
  
  text-align: center;
  
  &_Browser {
    max-width: 360px;
    min-width: 360px;
  }

  &_Mobile {
    max-width: 150px;
    min-width: 150px;
  }
  @media (max-width: 500px) {
   
  }
}
